# OS Specific
.DS_Store

# Vagrant
/.vagrant
/Vagrantfile

# Ignore bundler config.
/ManeStreet/.bundle

# Ignore all logfiles and tempfiles.
/ManeStreet/log/*
!/ManeStreet/log/.keep
/ManeStreet/tmp

Deliverables/UX/MANE ST Mobile Prototype/MANE ST Mobile Prototype_export/gov list mobile.css
