/* This code is only meant for previewing your Reflow design. */
.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
}

#box1 {
    float: left;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    background-color: rgb(53, 53, 53);
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
}

#text1 {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    color: rgb(207, 216, 220);
    margin-right: 0px;
    margin-bottom: 0px;
}

#text2 {
    float: right;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: right;
    font-weight: 100;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    color: rgb(207, 216, 220);
    margin-right: 0px;
    margin-bottom: 0px;
}

#box2 {
    float: left;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: both;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
    background-color: rgb(182, 182, 182);
}

#text3 {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    color: rgb(0, 0, 0);
}

#text4 {
    float: right;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    color: rgb(0, 0, 0);
    display: block;
}

#text5 {
    float: right;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    color: rgb(0, 0, 0);
}

#text3:hover {
    color: rgb(255, 152, 0);
}

#text5:hover {
    color: rgb(255, 152, 0);
}

#text4:hover {
    color: rgb(255, 152, 0);
}

#box3 {
    float: left;
    height: 720px;
    margin-left: 0px;
    margin-top: 94px;
    clear: none;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

#text6 {
    float: left;
    font-size: 20px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 5px;
    margin-top: 10px;
    clear: none;
    min-height: 0px;
    color: rgb(96, 125, 139);
}

#box4 {
    float: left;
    height: 20px;
    margin-left: 0%;
    margin-top: 10px;
    clear: none;
    width: 3px;
    background-color: rgb(255, 152, 0);
    margin-right: 0%;
}

#box5 {
    float: left;
    height: auto;
    margin-left: 0px;
    margin-top: 10px;
    clear: both;
    width: 100%;
    background-color: rgb(240, 240, 240);
    margin-right: 0px;
    margin-bottom: 0px;
    padding-top: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
}

#text7:hover {
    color: rgb(0, 0, 0);
    line-height: normal;
}

#text7 {
    float: left;
    font-size: 12px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: normal;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    color: rgb(0, 0, 0);
}

#formgroup {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 0%;
    margin-top: 10px;
    clear: both;
    width: 100%;
    min-height: auto;
}

#textinput {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: block;
    width: 100%;
}

#text8 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
}

#formgroup1 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 0%;
    margin-top: 10px;
    clear: both;
    width: 100%;
    min-height: auto;
    margin-right: 0%;
}

#text9 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
}

#textinput1 {
    float: none;
    height: 3em;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: block;
    width: 100%;
}

#formgroup2 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 0%;
    margin-top: 10px;
    clear: both;
    width: 100%;
    min-height: auto;
}

#select {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: block;
    width: 100%;
}

#text10 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
}

#formgroup3 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 0%;
    margin-top: 10px;
    clear: both;
    width: 100%;
    min-height: auto;
    margin-right: 0%;
}

#text11 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
}

#select1 {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: block;
    width: 100%;
}

#formgroup4 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 0%;
    margin-top: 10px;
    clear: both;
    width: 100%;
    min-height: auto;
    margin-right: 0%;
}

#text12 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
}

#textinput2 {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: block;
    width: 100%;
}

#formgroup5 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 0%;
    margin-top: 10px;
    clear: both;
    width: 100%;
    min-height: auto;
    margin-right: 0%;
}

#text13 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
}

#textinput3 {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: block;
    width: 100%;
}

#formgroup6 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 0%;
    margin-top: 10px;
    clear: both;
    width: 100%;
    min-height: auto;
    margin-right: 0%;
}

#text14 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
}

#textinput4 {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: block;
    width: 100%;
}

#formgroup7 {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 0%;
    margin-top: 10px;
    clear: both;
    width: 100%;
    min-height: auto;
    margin-right: 0%;
}

#text15 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
}

#textinput5 {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: block;
    width: 100%;
}

#input {
    float: left;
    height: auto;
    font-size: 16px;
    margin-left: 0px;
    margin-top: 10px;
    clear: both;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: rgb(255, 152, 0);
    color: rgb(255, 255, 255);
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

#input:hover {
    background-color: rgb(96, 125, 139);
}

#box {
    float: left;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: both;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-top: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    background-color: rgb(225, 255, 227);
    top: 72px;
    left: 0%;
}

#text {
    float: left;
    font-size: 16px;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    color: rgb(0, 0, 0);
    margin-right: 0px;
    margin-bottom: 0px;
    display: block;
}

@media only screen and (max-width: 320px) {
    #box1 {
        float: left;
        height: auto;
        margin-left: 0px;
        margin-top: 0px;
        clear: none;
        width: 100%;
        margin-right: 0px;
        margin-bottom: 0px;
        background-color: rgb(53, 53, 53);
        padding-top: 10px;
        padding-right: 5px;
        padding-bottom: 10px;
        padding-left: 5px;
        position: fixed;
    }

    #text1 {
        float: left;
        font-size: 1em;
        width: auto;
        height: auto;
        text-align: left;
        font-weight: normal;
        line-height: 1em;
        margin-left: 0px;
        margin-top: 0px;
        clear: none;
        min-height: 0px;
        color: rgb(207, 216, 220);
        margin-right: 0px;
        margin-bottom: 0px;
    }

    #text2 {
        float: right;
        font-size: 1em;
        width: auto;
        height: auto;
        text-align: right;
        font-weight: 100;
        line-height: 1em;
        margin-left: 0px;
        margin-top: 0px;
        clear: none;
        min-height: 0px;
        color: rgb(207, 216, 220);
        margin-right: 0px;
        margin-bottom: 0px;
    }

    #box2 {
        float: left;
        height: auto;
        margin-left: 0px;
        margin-top: 0px;
        clear: none;
        width: 100%;
        margin-right: 0px;
        margin-bottom: 0px;
        padding-top: 10px;
        padding-right: 5px;
        padding-bottom: 10px;
        padding-left: 5px;
        background-color: rgb(182, 182, 182);
        position: fixed;
        top: 36px;
        left: 0%;
    }

    #text3 {
        float: left;
        font-size: 1em;
        width: auto;
        height: auto;
        text-align: left;
        font-weight: normal;
        line-height: 1em;
        margin-left: 0px;
        margin-top: 0px;
        clear: none;
        min-height: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        color: rgb(0, 0, 0);
    }

    #text4 {
        float: right;
        font-size: 1em;
        width: auto;
        height: auto;
        text-align: left;
        font-weight: normal;
        line-height: 1em;
        margin-left: 0px;
        margin-top: 0px;
        clear: none;
        min-height: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        color: rgb(0, 0, 0);
        display: block;
    }

    #text5 {
        float: right;
        font-size: 1em;
        width: auto;
        height: auto;
        text-align: left;
        font-weight: normal;
        line-height: 1em;
        margin-left: 0px;
        margin-top: 0px;
        clear: none;
        min-height: 0px;
        margin-right: 10px;
        margin-bottom: 0px;
        color: rgb(0, 0, 0);
    }

    #text3:hover {
        color: rgb(255, 152, 0);
    }

    #text5:hover {
        color: rgb(255, 152, 0);
    }

    #text4:hover {
        color: rgb(255, 152, 0);
    }

    #box3 {
        float: left;
        height: 720px;
        margin-left: 0px;
        margin-top: 94px;
        clear: none;
        width: 100%;
        margin-right: 0px;
        margin-bottom: 0px;
        padding-top: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
    }

    #text6 {
        float: left;
        font-size: 20px;
        width: auto;
        height: auto;
        text-align: left;
        font-weight: normal;
        line-height: 1em;
        margin-left: 5px;
        margin-top: 10px;
        clear: none;
        min-height: 0px;
        color: rgb(96, 125, 139);
    }

    #box4 {
        float: left;
        height: 20px;
        margin-left: 0%;
        margin-top: 10px;
        clear: none;
        width: 3px;
        background-color: rgb(255, 152, 0);
        margin-right: 0%;
    }

    #box5 {
        float: left;
        height: auto;
        margin-left: 0px;
        margin-top: 10px;
        clear: both;
        width: 100%;
        background-color: rgb(240, 240, 240);
        margin-right: 0px;
        margin-bottom: 0px;
        padding-top: 3px;
        padding-right: 3px;
        padding-bottom: 3px;
        padding-left: 3px;
    }

    #text7:hover {
        color: rgb(0, 0, 0);
        line-height: normal;
    }

    #text7 {
        float: left;
        font-size: 12px;
        width: auto;
        height: auto;
        text-align: left;
        font-weight: normal;
        line-height: normal;
        margin-left: 0px;
        margin-top: 0px;
        clear: none;
        min-height: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        color: rgb(0, 0, 0);
    }

    #formgroup {
        float: left;
        height: auto;
        display: block;
        text-align: left;
        margin-left: 0%;
        margin-top: 10px;
        clear: both;
        width: 100%;
        min-height: auto;
    }

    #textinput {
        float: none;
        height: auto;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        font-size: 1em;
        display: block;
        width: 100%;
    }

    #text8 {
        float: none;
        font-size: 1em;
        width: auto;
        height: auto;
        text-align: left;
        font-weight: normal;
        line-height: 1em;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        padding-left: 0em;
        padding-right: 0em;
        display: block;
    }

    #formgroup1 {
        float: left;
        height: auto;
        display: block;
        text-align: left;
        margin-left: 0%;
        margin-top: 10px;
        clear: both;
        width: 100%;
        min-height: auto;
        margin-right: 0%;
    }

    #text9 {
        float: none;
        font-size: 1em;
        width: auto;
        height: auto;
        text-align: left;
        font-weight: normal;
        line-height: 1em;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        padding-left: 0em;
        padding-right: 0em;
        display: block;
    }

    #textinput1 {
        float: none;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        font-size: 1em;
        display: block;
        width: 100%;
        height: 3em;
    }

    #formgroup2 {
        float: left;
        height: auto;
        display: block;
        text-align: left;
        margin-left: 0%;
        margin-top: 10px;
        clear: both;
        width: 100%;
        min-height: auto;
    }

    #select {
        float: none;
        height: auto;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        font-size: 1em;
        display: block;
        width: 100%;
    }

    #text10 {
        float: none;
        font-size: 1em;
        width: auto;
        height: auto;
        text-align: left;
        font-weight: normal;
        line-height: 1em;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        padding-left: 0em;
        padding-right: 0em;
        display: block;
    }

    #formgroup3 {
        float: left;
        height: auto;
        display: block;
        text-align: left;
        margin-left: 0%;
        margin-top: 10px;
        clear: both;
        width: 100%;
        min-height: auto;
        margin-right: 0%;
    }

    #text11 {
        float: none;
        font-size: 1em;
        width: auto;
        height: auto;
        text-align: left;
        font-weight: normal;
        line-height: 1em;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        padding-left: 0em;
        padding-right: 0em;
        display: block;
    }

    #select1 {
        float: none;
        height: auto;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        font-size: 1em;
        display: block;
        width: 100%;
    }

    #formgroup4 {
        float: left;
        height: auto;
        display: block;
        text-align: left;
        margin-left: 0%;
        margin-top: 10px;
        clear: both;
        width: 100%;
        min-height: auto;
        margin-right: 0%;
    }

    #text12 {
        float: none;
        font-size: 1em;
        width: auto;
        height: auto;
        text-align: left;
        font-weight: normal;
        line-height: 1em;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        padding-left: 0em;
        padding-right: 0em;
        display: block;
    }

    #textinput2 {
        float: none;
        height: auto;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        font-size: 1em;
        display: block;
        width: 100%;
    }

    #formgroup5 {
        float: left;
        height: auto;
        display: block;
        text-align: left;
        margin-left: 0%;
        margin-top: 10px;
        clear: both;
        width: 100%;
        min-height: auto;
        margin-right: 0%;
    }

    #text13 {
        float: none;
        font-size: 1em;
        width: auto;
        height: auto;
        text-align: left;
        font-weight: normal;
        line-height: 1em;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        padding-left: 0em;
        padding-right: 0em;
        display: block;
    }

    #textinput3 {
        float: none;
        height: auto;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        font-size: 1em;
        display: block;
        width: 100%;
    }

    #formgroup6 {
        float: left;
        height: auto;
        display: block;
        text-align: left;
        margin-left: 0%;
        margin-top: 10px;
        clear: both;
        width: 100%;
        min-height: auto;
        margin-right: 0%;
    }

    #text14 {
        float: none;
        font-size: 1em;
        width: auto;
        height: auto;
        text-align: left;
        font-weight: normal;
        line-height: 1em;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        padding-left: 0em;
        padding-right: 0em;
        display: block;
    }

    #textinput4 {
        float: none;
        height: auto;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        font-size: 1em;
        display: block;
        width: 100%;
    }

    #formgroup7 {
        float: left;
        height: auto;
        display: block;
        text-align: left;
        margin-left: 0%;
        margin-top: 10px;
        clear: both;
        width: 100%;
        min-height: auto;
        margin-right: 0%;
    }

    #text15 {
        float: none;
        font-size: 1em;
        width: auto;
        height: auto;
        text-align: left;
        font-weight: normal;
        line-height: 1em;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        padding-left: 0em;
        padding-right: 0em;
        display: block;
    }

    #textinput5 {
        float: none;
        height: auto;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        font-size: 1em;
        display: block;
        width: 100%;
    }

    #input {
        float: left;
        height: auto;
        font-size: 16px;
        margin-left: 0px;
        margin-top: 10px;
        clear: both;
        width: 100%;
        margin-right: 0px;
        margin-bottom: 0px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        background-color: rgb(255, 152, 0);
        color: rgb(255, 255, 255);
        border-top-style: none;
        border-right-style: none;
        border-bottom-style: none;
        border-left-style: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
    }

    #input:hover {
        background-color: rgb(96, 125, 139);
    }

    #box {
        float: left;
        height: auto;
        margin-left: 0px;
        margin-top: 0px;
        clear: none;
        width: 100%;
        margin-right: 0px;
        margin-bottom: 0px;
        padding-top: 3px;
        padding-right: 3px;
        padding-bottom: 3px;
        padding-left: 3px;
        position: fixed;
        top: 72px;
        left: 0%;
        background-color: rgb(225, 255, 227);
    }

    #text {
        float: left;
        font-size: 16px;
        width: 100%;
        height: auto;
        text-align: center;
        font-weight: 500;
        line-height: 1em;
        margin-left: 0px;
        margin-top: 0px;
        clear: none;
        min-height: 0px;
        color: rgb(0, 0, 0);
        margin-right: 0px;
        margin-bottom: 0px;
        display: block;
    }
}

