/* This code is only meant for previewing your Reflow design. */
.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
    position: relative;
}

#box1 {
    float: none;
    height: auto;
    clear: none;
    width: 320px;
    padding: 10px 5px;
    position: static;
    left: 0px;
    top: 0px;
    z-index: 5;
    display: block;
    background-color: rgb(53, 53, 53);
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
}

#text {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin: 0px;
    clear: none;
    min-height: 0px;
    color: rgb(207, 216, 220);
}

#text1 {
    float: right;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: right;
    font-weight: 100;
    line-height: 1em;
    margin: 0px;
    clear: none;
    min-height: 0px;
    color: rgb(207, 216, 220);
}

#box2 {
    float: none;
    height: auto;
    margin: 0px auto;
    clear: none;
    width: 320px;
    padding: 10px 5px;
    position: static;
    top: 0px;
    left: 0px;
    z-index: 5;
    display: block;
    background-color: rgb(182, 182, 182);
}

#formgroup {
    float: left;
    height: auto;
    display: block;
    text-align: left;
    margin: 0px;
    clear: none;
    width: 100%;
    min-height: auto;
}

#text2 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding: 0.2em 0em;
    display: none;
}

#select {
    float: none;
    height: auto;
    padding: 0px;
    font-size: 1em;
    display: block;
    width: 100%;
}

#formgroup1 {
    float: left;
    height: auto;
    display: block;
    text-align: right;
    margin-left: 0%;
    margin-top: 10px;
    clear: both;
    width: 100%;
    min-height: auto;
}

#text3 {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: right;
    font-weight: normal;
    line-height: 1em;
    padding: 0em 0.5em 0em 0em;
    display: none;
    margin-left: 0%;
    margin-right: 0px;
    margin-top: 3px;
    clear: none;
}

#textinput {
    float: left;
    height: auto;
    padding: 0px 0px 0px 3px;
    font-size: 1em;
    display: inline-block;
    width: 100%;
    margin-left: 0%;
    margin-right: 0px;
    margin-top: 0px;
    clear: none;
}

#input:hover {
    background-color: rgb(96, 125, 139);
}

#input {
    float: left;
    height: 39px;
    font-size: 16px;
    margin: 10px 0px 0px;
    clear: both;
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    color: rgb(255, 255, 255);
    border-style: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 10px;
    background-color: rgb(96, 125, 139);
}

#box3 {
    float: none;
    height: auto;
    margin: 158px auto 0px;
    clear: none;
    width: 320px;
    padding: 5px;
    display: block;
}

#box4 {
    float: left;
    height: 20px;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 3px;
    margin-right: 0%;
    background-color: rgb(255, 152, 0);
}

#text4 {
    float: left;
    font-size: 20px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 5px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    color: rgb(96, 125, 139);
}

#box5 {
    float: left;
    height: auto;
    margin-left: 0%;
    margin-top: 20px;
    clear: both;
    width: 100%;
    padding: 3px;
    background-color: rgb(232, 232, 232);
}

#text5 {
    float: left;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 600;
    line-height: 1em;
    margin: 0px;
    clear: both;
    min-height: 0px;
    color: rgb(96, 125, 139);
    display: block;
}

#text6 {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin: 5px 0px 0px;
    clear: both;
    min-height: 0px;
    color: rgb(96, 125, 139);
}

#text7 {
    float: left;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 600;
    line-height: 1em;
    margin: 5px 0px 0px;
    clear: both;
    min-height: 0px;
    color: rgb(0, 0, 0);
}

#input1:hover {
    background-color: rgb(69, 90, 100);
}

#input1 {
    float: left;
    height: auto;
    font-size: 16px;
    margin: 10px 0px 0px;
    clear: both;
    width: 150px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    color: rgb(255, 255, 255);
    border-style: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 3px;
    display: block;
    background-color: rgb(96, 125, 139);
}

#input2:hover {
    background-color: rgb(96, 125, 139);
}

#input2 {
    float: left;
    height: auto;
    font-size: 16px;
    margin: 10px 0px 0px 4px;
    clear: none;
    width: 150px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    color: rgb(0, 0, 0);
    border-style: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 3px;
    display: block;
    background-color: rgb(255, 255, 255);
}

#box6 {
    float: left;
    height: auto;
    margin-left: 0%;
    margin-top: 10px;
    clear: both;
    width: 100%;
    padding: 3px;
    margin-right: 0%;
    background-color: rgb(232, 232, 232);
}

#text8 {
    float: left;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 600;
    line-height: 1em;
    margin: 20px 0px 0px;
    clear: both;
    min-height: 0px;
    color: rgb(96, 125, 139);
    display: block;
}

#text9 {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin: 5px 0px 0px;
    clear: both;
    min-height: 0px;
    color: rgb(96, 125, 139);
}

#text10 {
    float: left;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 600;
    line-height: 1em;
    margin: 5px 0px 0px;
    clear: both;
    min-height: 0px;
    color: rgb(0, 0, 0);
}

#input3:hover {
    background-color: rgb(69, 90, 100);
}

#input3 {
    float: left;
    height: auto;
    font-size: 16px;
    margin: 10px 0px 0px;
    clear: both;
    width: 150px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    color: rgb(255, 255, 255);
    border-style: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 3px;
    display: block;
    background-color: rgb(96, 125, 139);
}

#input4:hover {
    background-color: rgb(96, 125, 139);
}

#input4 {
    float: left;
    height: auto;
    font-size: 16px;
    margin: 10px 0px 0px 4px;
    clear: none;
    width: 150px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    color: rgb(0, 0, 0);
    border-style: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 3px;
    background-color: rgb(255, 255, 255);
}

#box7 {
    float: left;
    height: auto;
    margin-left: 0%;
    margin-top: 10px;
    clear: both;
    width: 100%;
    padding: 3px;
    margin-right: 0%;
    background-color: rgb(232, 232, 232);
}

#text11 {
    float: left;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 600;
    line-height: 1em;
    margin: 20px 0px 0px;
    clear: both;
    min-height: 0px;
    color: rgb(96, 125, 139);
    display: block;
}

#text12 {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin: 5px 0px 0px;
    clear: both;
    min-height: 0px;
    color: rgb(96, 125, 139);
}

#text13 {
    float: left;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 600;
    line-height: 1em;
    margin: 5px 0px 0px;
    clear: both;
    min-height: 0px;
    color: rgb(0, 0, 0);
}

#input5:hover {
    background-color: rgb(69, 90, 100);
}

#input5 {
    float: left;
    height: auto;
    font-size: 16px;
    margin: 10px 0px 0px;
    clear: both;
    width: 150px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    color: rgb(255, 255, 255);
    border-style: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 3px;
    display: block;
    background-color: rgb(96, 125, 139);
}

#input6:hover {
    background-color: rgb(96, 125, 139);
}

#input6 {
    float: left;
    height: auto;
    font-size: 16px;
    margin: 10px 0px 0px 4px;
    clear: none;
    width: 150px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    color: rgb(0, 0, 0);
    border-style: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 3px;
    background-color: rgb(255, 255, 255);
}

#input7:hover {
    background-color: rgb(96, 125, 139);
}

#input7 {
    float: left;
    height: auto;
    font-size: 16px;
    margin: 10px 0px 0px;
    clear: both;
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    color: rgb(255, 255, 255);
    border-style: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 10px;
    display: block;
    background-color: rgb(255, 152, 0);
}

#box {
    float: left;
    height: auto;
    clear: none;
    width: 100%;
    min-width: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 5;
}

@media only screen and (max-width: 320px) {
    #box1 {
        float: left;
        height: auto;
        clear: none;
        padding: 10px 5px;
        width: 320px;
        background-color: rgb(53, 53, 53);
    }

    #text {
        float: left;
        font-size: 1em;
        width: auto;
        height: auto;
        text-align: left;
        font-weight: normal;
        line-height: 1em;
        margin: 0px;
        clear: none;
        min-height: 0px;
        color: rgb(207, 216, 220);
    }

    #text1 {
        float: right;
        font-size: 1em;
        width: auto;
        height: auto;
        text-align: right;
        font-weight: 100;
        line-height: 1em;
        margin: 0px;
        clear: none;
        min-height: 0px;
        color: rgb(207, 216, 220);
    }

    #box2 {
        float: left;
        height: auto;
        clear: none;
        padding: 10px 5px;
        width: 320px;
        background-color: rgb(182, 182, 182);
    }

    #formgroup {
        float: left;
        height: auto;
        display: block;
        text-align: left;
        margin: 0px;
        clear: none;
        width: 100%;
        min-height: auto;
    }

    #text2 {
        float: none;
        font-size: 1em;
        width: auto;
        height: auto;
        text-align: left;
        font-weight: normal;
        line-height: 1em;
        padding: 0.2em 0em;
        display: none;
    }

    #select {
        float: none;
        height: auto;
        padding: 0px;
        font-size: 1em;
        display: block;
        width: 100%;
    }

    #formgroup1 {
        float: left;
        height: auto;
        display: block;
        text-align: right;
        margin-left: 0%;
        margin-top: 10px;
        clear: both;
        width: 100%;
        min-height: auto;
    }

    #text3 {
        float: left;
        font-size: 1em;
        width: auto;
        height: auto;
        text-align: right;
        font-weight: normal;
        line-height: 1em;
        padding: 0em 0.5em 0em 0em;
        display: none;
        margin-left: 0%;
        margin-right: 0px;
        margin-top: 3px;
        clear: none;
    }

    #textinput {
        float: left;
        height: auto;
        padding: 0px 0px 0px 3px;
        font-size: 1em;
        display: inline-block;
        width: 100%;
        margin-left: 0%;
        margin-right: 0px;
        margin-top: 0px;
        clear: none;
    }

    #input:hover {
        background-color: rgb(69, 90, 100);
    }

    #input {
        float: left;
        height: 39px;
        font-size: 16px;
        margin: 10px 0px 0px;
        clear: both;
        width: 100%;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        color: rgb(255, 255, 255);
        border-style: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding: 10px;
        background-color: rgb(96, 125, 139);
    }

    #box3 {
        float: left;
        margin: 158px 0px 0px;
        padding: 5px;
    }

    #box4 {
        float: left;
        height: 20px;
        margin-left: 0%;
        margin-top: 10px;
        clear: none;
        width: 3px;
        margin-right: 0%;
        background-color: rgb(255, 152, 0);
    }

    #text4 {
        float: left;
        font-size: 20px;
        width: auto;
        height: auto;
        text-align: left;
        font-weight: normal;
        line-height: 1em;
        margin-left: 5px;
        margin-top: 10px;
        clear: none;
        min-height: 0px;
        color: rgb(96, 125, 139);
    }

    #box5 {
        float: left;
        height: auto;
        margin-left: 0%;
        margin-top: 20px;
        clear: both;
        width: 100%;
        padding: 3px;
        background-color: rgb(232, 232, 232);
    }

    #text5:hover {
        color: rgb(69, 90, 100);
        display: block;
    }

    #text5 {
        float: left;
        font-size: 16px;
        width: auto;
        height: auto;
        text-align: left;
        font-weight: 600;
        line-height: 1em;
        clear: none;
        min-height: 0px;
        color: rgb(96, 125, 139);
    }

    #textspan {
        float: none;
        font-size: 14px;
        line-height: 1em;
    }

    #text6 {
        float: left;
        font-size: 1em;
        width: auto;
        height: auto;
        text-align: left;
        font-weight: normal;
        line-height: 1em;
        margin: 5px 0px 0px;
        clear: both;
        min-height: 0px;
        color: rgb(96, 125, 139);
    }

    #text7 {
        float: left;
        font-size: 16px;
        width: auto;
        height: auto;
        text-align: left;
        font-weight: 600;
        line-height: 1em;
        margin: 5px 0px 0px;
        clear: both;
        min-height: 0px;
        color: rgb(0, 0, 0);
    }

    #textspan1 {
        float: none;
        font-size: 1em;
        line-height: 1em;
        font-weight: 100;
    }

    #input1:hover {
        background-color: rgb(69, 90, 100);
    }

    #input1 {
        float: left;
        height: auto;
        font-size: 16px;
        margin: 10px 0px 0px;
        clear: both;
        width: 150px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        color: rgb(255, 255, 255);
        border-style: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding: 3px;
        display: block;
        background-color: rgb(96, 125, 139);
    }

    #input2:hover {
        background-color: rgb(96, 125, 139);
    }

    #input2 {
        float: left;
        height: auto;
        font-size: 16px;
        margin: 10px 0px 0px 4px;
        clear: none;
        width: 150px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        color: rgb(0, 0, 0);
        border-style: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding: 3px;
        display: block;
        background-color: rgb(255, 255, 255);
    }

    #box6 {
        float: left;
        height: auto;
        margin-left: 0%;
        margin-top: 10px;
        clear: both;
        width: 100%;
        padding: 3px;
        margin-right: 0%;
        background-color: rgb(232, 232, 232);
    }

    #text8:hover {
        color: rgb(69, 90, 100);
        display: block;
    }

    #text8 {
        float: left;
        font-size: 16px;
        width: auto;
        height: auto;
        text-align: left;
        font-weight: 600;
        line-height: 1em;
        margin: 0px;
        clear: none;
        min-height: 0px;
        color: rgb(96, 125, 139);
        display: block;
    }

    #textspan2 {
        float: none;
        font-size: 14px;
        line-height: 1em;
    }

    #text9 {
        float: left;
        font-size: 1em;
        width: auto;
        height: auto;
        text-align: left;
        font-weight: normal;
        line-height: 1em;
        margin: 5px 0px 0px;
        clear: both;
        min-height: 0px;
        color: rgb(96, 125, 139);
    }

    #text10 {
        float: left;
        font-size: 16px;
        width: auto;
        height: auto;
        text-align: left;
        font-weight: 600;
        line-height: 1em;
        margin: 5px 0px 0px;
        clear: both;
        min-height: 0px;
        color: rgb(0, 0, 0);
    }

    #textspan3 {
        float: none;
        font-size: 1em;
        line-height: 1em;
        font-weight: 100;
    }

    #input3:hover {
        background-color: rgb(69, 90, 100);
    }

    #input3 {
        float: left;
        height: auto;
        font-size: 16px;
        margin: 10px 0px 0px;
        clear: both;
        width: 150px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        color: rgb(255, 255, 255);
        border-style: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding: 3px;
        display: block;
        background-color: rgb(96, 125, 139);
    }

    #input4:hover {
        background-color: rgb(96, 125, 139);
    }

    #input4 {
        float: left;
        height: auto;
        font-size: 16px;
        margin: 10px 0px 0px 4px;
        clear: none;
        width: 150px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        color: rgb(0, 0, 0);
        border-style: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding: 3px;
        background-color: rgb(255, 255, 255);
    }

    #box7 {
        float: left;
        height: auto;
        margin-left: 0%;
        margin-top: 10px;
        clear: both;
        width: 100%;
        padding: 3px;
        margin-right: 0%;
        background-color: rgb(232, 232, 232);
    }

    #text11:hover {
        color: rgb(69, 90, 100);
        display: block;
    }

    #text11 {
        float: left;
        font-size: 16px;
        width: auto;
        height: auto;
        text-align: left;
        font-weight: 600;
        line-height: 1em;
        margin: 0px;
        clear: none;
        min-height: 0px;
        color: rgb(96, 125, 139);
        display: block;
    }

    #textspan4 {
        float: none;
        font-size: 14px;
        line-height: 1em;
    }

    #text12 {
        float: left;
        font-size: 1em;
        width: auto;
        height: auto;
        text-align: left;
        font-weight: normal;
        line-height: 1em;
        margin: 5px 0px 0px;
        clear: both;
        min-height: 0px;
        color: rgb(96, 125, 139);
    }

    #text13 {
        float: left;
        font-size: 16px;
        width: auto;
        height: auto;
        text-align: left;
        font-weight: 600;
        line-height: 1em;
        margin: 5px 0px 0px;
        clear: both;
        min-height: 0px;
        color: rgb(0, 0, 0);
    }

    #textspan5 {
        float: none;
        font-size: 1em;
        line-height: 1em;
        font-weight: 100;
    }

    #input5:hover {
        background-color: rgb(69, 90, 100);
    }

    #input5 {
        float: left;
        height: auto;
        font-size: 16px;
        margin: 10px 0px 0px;
        clear: both;
        width: 150px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        color: rgb(255, 255, 255);
        border-style: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding: 3px;
        display: block;
        background-color: rgb(96, 125, 139);
    }

    #input6:hover {
        background-color: rgb(96, 125, 139);
    }

    #input6 {
        float: left;
        height: auto;
        font-size: 16px;
        margin: 10px 0px 0px 4px;
        clear: none;
        width: 150px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        color: rgb(0, 0, 0);
        border-style: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding: 3px;
        background-color: rgb(255, 255, 255);
    }

    #input7:hover {
        background-color: rgb(96, 125, 139);
    }

    #input7 {
        float: left;
        height: auto;
        font-size: 16px;
        clear: both;
        width: 100%;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        color: rgb(255, 255, 255);
        border-style: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding: 10px;
        background-color: rgb(255, 152, 0);
    }
}

