/*
Dark Blue	#455A64
Med Blue	#607D8B
Light Blue	#CFD8DC
Oranage		#FF9800
Dark Grey	#353535
Med Grey	#727272
Light Grey	#B6B6B6

*/

.page-heading {
	border-left:5px solid #FF9800;
	color: #607D8B;
}

.padding {
	padding: 10px 0;
}

.btn {
	border:none;
}
.btn-mane {
	background-color:transparent;
	color:#607D8B;
}
.btn-primary {
	background-color:#FF9800;
	color:#B6B6B6;
}
.btn-mane:hover, .btn-primary:hover {
	background-color:#607D8B;
	color:#B6B6B6;
}
