/*
Dark Blue	#455A64
Med Blue	#607D8B
Light Blue	#CFD8DC
Oranage		#FF9800
Dark Grey	#353535
Med Grey	#727272
Light Grey	#B6B6B6

*/

@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'),local('Roboto-Light'),url(http://fonts.gstatic.com/s/roboto/v14/Hgo13k-tfSpn0qi1SFdUfT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto Regular'),local('Roboto-Regular'),url(http://fonts.gstatic.com/s/roboto/v14/2UX7WLTfW3W8TclTUvlFyQ.woff) format('woff');}
@font-face{font-family:'Roboto';font-style:normal;font-weight:500;src:local('Roboto Medium'),local('Roboto-Medium'),url(http://fonts.gstatic.com/s/roboto/v14/RxZJdnzeo3R5zSexge8UUT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:local('Roboto Bold'),local('Roboto-Bold'),url(http://fonts.gstatic.com/s/roboto/v14/d-6IYplOFocCacKzxwXSOD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');}
@font-face{font-family:'Roboto';font-style:normal;font-weight:900;src:local('Roboto Black'),local('Roboto-Black'),url(http://fonts.gstatic.com/s/roboto/v14/mnpfi9pxYH-Go5UiibESIj8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');}

body{
	line-height:1;
	font-weight:300;
	font-size:14px;
	font-family:'Roboto',Arial,Helvetica,sans-serif;
	color:#353535;
}
.page-heading {
	border-left:5px solid #FF9800;
	color: #607D8B;
	padding-left:10px;
	font-weight: 500;
}

.padding {
	padding: 10px 0;
}

.navbar-mane {
	background-color:#455A64;
	color:#FFF;
}

/* Links & Buttons */
.btn {
	border:none;
	border-radius:0;
	font-weight: 500;
}
.btn-mane {
	background-color:transparent;
	color:#607D8B;
}
.btn-mane-primary {
	background-color:#FF9800;
	color:#FFF;
}
.btn-mane:hover, .btn-mane-primary:hover {
	background-color:#607D8B;
	color:#FFF;
}

a {
	color:#607D8B;	
}

a:hover {
	color:#455A64;
}
