<div class="container">
	<div class="col_lg_12">
		<h2>New Opportunity</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<form>
			<div class="form-group">
				<div class="row padding">
					<div class="col-lg-12">
						<label for="title">Title</label>
						<input class="form-control" type="text" name="title" id="title">
					</div>
				</div>
				<div class="row padding">
					<div class="col-lg-12">
						<label for="desc">Description</label>
						<textarea class="form-control" name="description" id="description"></textarea>
					</div>
				</div>
				<div class="row padding">
					<div class="col-lg-4">
						<label for="due_date">Response Due Date</label>
						<input class="form-control" type="text" name="due_date" id="due_date">
					</div>
					<div class="col-lg-4">
						<label for="type">Type</label>
						<input class="form-control" type="text" name="type" id="type">
					</div>
					<div class="col-lg-4">
						<label for="set_aside">Set Aside</label>
						<input class="form-control" type="text" name="set_aside" id="set_aside">
					</div>
				</div>
				<div class="row padding">
					<div class="col-lg-6">
						<label for="type">Buyer Name</label>
						<input class="form-control" type="text" name="buyer_name" id="buyer_name">
					</div>
					<div class="col-lg-6">
						<label for="poc">Primary POC</label>
						<input class="form-control" type="text" name="poc" id="poc">
					</div>
				</div>
				<div class="row padding">
					<div class="col-lg-12">
						<input class="btn btn-primary" type="submit" value="Save">
						<input class="btn btn-primary" type="submit" value="Publish">
						<input class="btn btn-danger" type="submit" value="Cancel">
					</div>
				</div>
			</div>
		</form>
	</div>
</div>