  <div class="mane-content container">
  	<div class="row">
        <div class="col-sm-3 col-sm-push-9">
        	<a href="#" class="pull-right btn-link" alt="back to...">link back</a>
        </div>
        <div class="col-sm-9 col-sm-pull-3">
        	<h1 class="page-heading">Detail Title</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-sm-push-9 mane-meta">
        	<ul class="list-unstyled">
            	<li><strong>Opp Number</strong></li>
            	<li>Type</li>
            	<li>Set Aside</li>
            </ul>
        	<ul class="list-unstyled">
            	<li><strong>Buy Name</strong></li>
            	<li>Place of Performance</li>
            	<li>POC</li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-pull-3">
        	<p><strong>Publication Date</strong></p>
        	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur lobortis dapibus nisi, vel sagittis tellus ornare non. Morbi vulputate eleifend lorem. Curabitur porttitor lorem vitae ultricies aliquet. In eu turpis viverra, rutrum libero in, pellentesque neque. Praesent nec sodales lacus, in dignissim lectus. Vivamus id elit venenatis, laoreet enim vel, gravida nibh. Phasellus sodales non massa ut euismod. Sed sagittis tellus ut tortor tempus, at commodo eros egestas. Aenean feugiat consequat dui in elementum. Curabitur quis lectus lacus. Nulla facilisi.</p>
          <p>Ut semper ultricies nibh sit amet suscipit. Sed nec tellus non nisl maximus sodales vitae sit amet nunc. Integer sed condimentum est, vel ultrices metus. Curabitur semper leo quis tellus egestas hendrerit. Nam vitae est eu justo tincidunt facilisis. Curabitur quis convallis est. Nunc venenatis auctor tellus, ac scelerisque massa accumsan et. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi facilisis augue lectus, et egestas arcu ultricies sit amet. Vivamus ornare nunc et malesuada iaculis.</p>
          <p>Sed fermentum, enim id maximus euismod, odio nisi fermentum mi, at venenatis neque justo eget elit. Cras at pellentesque neque. Nulla vitae urna id odio luctus elementum quis ac magna. Phasellus quis ex neque. Praesent auctor velit ut orci imperdiet eleifend. Quisque commodo ut ante at finibus. Aliquam ultricies ipsum eget mauris dignissim dictum. Nulla consequat fermentum dui in volutpat.</p>
          <p>Vestibulum elit ligula, consectetur eget tempus pretium, volutpat gravida nunc. Nullam blandit luctus aliquam. Proin vestibulum mauris a turpis auctor rhoncus. Vestibulum lacinia rutrum quam, non luctus justo interdum a. Vestibulum mattis magna id nunc ultricies, sit amet faucibus est vestibulum. Vivamus elementum sem rhoncus leo gravida, nec tempor purus semper. Aliquam urna sapien, finibus at pellentesque eget, blandit sit amet lectus. Nullam vitae diam odio. Mauris sit amet eros ullamcorper, dictum dui sed, facilisis turpis. Mauris id odio rutrum, consequat augue et, mattis tortor. Praesent pulvinar fermentum hendrerit. Maecenas dui nisl, porttitor vitae porttitor vel, maximus in urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas imperdiet erat vitae lectus convallis, non scelerisque felis pretium. Phasellus vulputate eu lacus consequat iaculis.</p>        </div>
    </div>
  </div>
