<div class="container">
	<div class="col_lg_12">
		<h2 class="page-heading">Opportunity Listing <a href="/create" alt="Create" class="mane-link pull-right"><span class="glyphicon glyphicon-plus"></span> Create Opportunity</a></h2>
	</div>
	<div class="row">
		<div class="col_lg_12">
			<form class="form-inline">
				<label for="search">Search</label>
				<input type="text" class="form_control" id="search" name="search">
				<select name="field">
					<option value="title">Title</option>
					<option value="id">Opportunity Number</option>
					<option value="opportunitytype">Opportunity Type</option>
					<option value="description">Description</option>
				</select>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col_lg_12">
			Dates
		</div>
	</div>
	<div class="row" ng-repeat="opp in opportunities | orderBy:orderProp">
		<div class="col-lg-9 listing">
			<a href="details/{{opp.id}}">{{opp.title}}</a>
			<span class="date">{{opp.publishdate}}</span>
			<span class="type">OPP-{{opp.id}} | {{opp.opportunitytype}}</span>
			<p>{{opp.description}}</p>
		</div>
		<div class="col-lg-3 mane-meta">
			<a role="button" href="#" class="btn btn-mane-primary" style="display: block;">Edit</a>
			<a role="button" href="#" class="btn btn-mane" style="display: block;">Delete</a>
		</div>
	</div>
</div>
