<div class="mane-content container">
    <div class="row">
        <div class="col-sm-12">
        	<h1 class="page-heading">Opportunity Listing</h1>
        </div>
    </div>
	<div class="row mane-search">
		<div class="col-md-12 col-lg-12">
			<form class="form-inline text-center" ng-controller="SearchCtrl">
				<label for="search">Search</label>
				<input type="text" class="form-control input-sm" id="search" ng-model="search.value">
				<select name="field" class="form-control input-sm" ng-model="search.criteria" required>
					<option value="title">Title</option>
					<option value="id">Opportunity Number</option>
					<option value="opportunitytype">Opportunity Type</option>
					<option value="description">Description</option>
					<option value="setaside">Set Aside</option>
					<option value="status">Status</option>
					<option value="buyername">Buyer Name</option>
					<option value="placeofperform">Place of Performance</option>
					<option value="primaypoc">Primary POC</option>
				</select>
				<input type="submit" value="Go" class="btn btn-mane-primary" ng-click="search()">
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2 col-lg-2 col-sm-offset-1">All</div>
		<div class="col-md-2 col-lg-2">Today</div>
		<div class="col-md-2 col-lg-2">Last 7 Days</div>
		<div class="col-md-2 col-lg-2">Last 30 Days</div>
		<div class="col-md-2 col-lg-2">Last 60 Days</div>
	</div>
	<div class="row" ng-repeat="opp in opportunities | orderBy:orderProp" dir-paginate="item in items | itemsPerPage: 10">
		<div class="col-sm-9 mane-listing">
			<h3><a href="/#/viewdetails/{{opp.id}}">{{opp.title}}</a></h3>
            <ul class="list-unstyled">
            	<li><strong>{{opp.publishdate}}</strong></li>
                <li>OPP-{{opp.id}} | {{opp.opportunitytype}}</li>
            </ul>
			<p>{{opp.description}}</p>
		</div>
		<div class="col-lg-3 mane-meta">
			<p><strong>{{opp.buyername}}</strong></p>
			<p>{{opp.placeofperform}}</p>
			<p>{{opp.setaside}}</p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12"><dir-pagination-controls></dir-pagination-controls></div>
	</div>
</div>
